.prudoct{
    display: flex;
    gap: 10px;
    height: fit-content; 
    margin: 1rem 0;
}
.product_filter{
    width: 300px;
    height: fit-content;
    border: 1px solid var(--color-neutral-200);
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
}
.product_filter_available-input{
    display: none; 
}
.product_filter_available-lable{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--color-neutral-600);
    margin-bottom: .5rem;
}
.custome-checkbox{
    display: block;
    margin-right: .5rem;
    width: 13px;
    height: 13px;
    border: 1px solid var(--color-neutral-300);
    background-color: transparent;
    transition: all .1s ease-in-out;
}
.available-checked{
    rotate: 45deg;
    width: 7px;
    height: 13px;
    margin-right: .7rem;
    border: 2px solid limegreen;
    border-left: none;
    border-top: none;
}
.product_filter h4{
    padding-top: .5rem;
    margin-top: 1rem;
    border-top: 1px solid var(--color-neutral-200);
}
.product_filter_price_label{
    display: block;
    font-size: .7rem;
    margin-top: .5rem;
}
.price_value{
    margin-right: .5rem;
}
.product_filter_price_input {
  margin-right: 15px;
  width: 80%;
  height: 3px;
  background: var(--color-neutral-500);
  border-radius: 5px;
  cursor: pointer;
}
.product_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.product-item{
    padding: .5rem;
    background-color: #fff;
    border: 1px solid var(--color-neutral-200);
    font-family: iran-sans-web;
    position: relative;
}
.product-item:hover{
    box-shadow: -1px -1px 33px -9px rgba(0,0,0,0.53);
    z-index: 1000;
}
.product-item_discount{
    background-color: var(--color-primary-700);
    color: #fff;
    font-size: .6rem;
    display: grid;
    place-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}
.product-item_image{
    overflow: hidden;
    width: 100%;
}
.product-item_image img{
    width: 100%;
}
.product-item_available{
    font-size: .6rem;
    margin: .6rem 0;
}
.available{
    color: limegreen;
}
.not-available{
    color: firebrick;
}
.product-item_price{
    font-size: .7rem;
    text-align: left;
}
.product-item_prevprice{
    font-size: .7rem;
    text-align: left;
    color: var(--color-neutral-500);
    text-decoration: line-through;
}

@media only screen and (max-width: 1140px) {
    .prudoct{
        flex-direction: column;
    }
    .product_filter{
        width: 100%;
    }
    .product_filter_price_input {
      margin-right: 15px;
      width: 90%;
      height: 3px;
      background: var(--color-neutral-500);
      border-radius: 5px;
      cursor: pointer;
    }
}