
@font-face {
  font-family: iran-sans-bold;
  font-weight: 700;
  font-display: block;
  src: url(./assets/fonts/iran-sans/IRANSans-Bold-web.eot);
  src: url(./assets/fonts/iran-sans/IRANSans-Bold-web.eot?#iefix) format("eot"),
   url(./assets/fonts/iran-sans/IRANSans-Bold-web.woff2) format("woff2"),
    url(./assets/fonts/iran-sans/IRANSans-Bold-web.woff) format("woff"),
     url(./assets/fonts/iran-sans/IRANSans-Bold-web.ttf) format("ttf");
}
@font-face {
  font-family: iran-sans-web;
  font-weight: 400;
  font-display: block;
  src: url(./assets/fonts/iran-sans/IRANSans-web.eot);
  src: url(./assets/fonts/iran-sans/IRANSans-web.eot?#iefix) format("eot"),
   url(./assets/fonts/iran-sans/IRANSans-web.woff2) format("woff2"),
    url(./assets/fonts/iran-sans/IRANSans-web.woff) format("woff"),
     url(./assets/fonts/iran-sans/IRANSans-web.ttf) format("ttf");
}
@font-face {
  font-family: iran-sans-med;
  font-weight: 400;
  font-display: block;
  src: url(./assets/fonts/iran-sans/IRANSans-Medium-web.eot);
  src: url(./assets/fonts/iran-sans/IRANSans-Medium-web.eot?#iefix) format("eot"),
   url(./assets/fonts/iran-sans/IRANSans-Medium-web.woff2) format("woff2"),
    url(./assets/fonts/iran-sans/IRANSans-Medium-web.woff) format("woff"),
     url(./assets/fonts/iran-sans/IRANSans-Medium-web.ttf) format("ttf");
}
@font-face {
  font-family: byekan;
  font-weight: 400;
  font-display: block;
  src: url(./assets/fonts/byekan/BYekan+.ttf);
}
@font-face {
  font-family: byekan-bold;
  font-weight: 700;
  font-display: block;
  src: url(./assets/fonts/byekan/BYekan+-Bold.ttf);
}
@font-face {
  font-family: lustra;
  font-weight: 700;
  font-display: block;
  src: url(./assets/fonts/lustra/Lustra-Bold.otf);
}
:root{
  --color-primary-700: #ef394e;
  --color-primary-500: #ef4056;
  --color-neutral-000: #fff;
  --color-neutral-100: #f0f0f1;
  --color-neutral-200: #e0e0e2;
  --color-neutral-300: #c0c2c5;
  --color-neutral-400: #a1a3a8;
  --color-neutral-500: #81858b;
  --color-neutral-600: #62666d;
  --color-neutral-700: #424750;
  --color-neutral-800: #232933;
  --color-neutral-900: #0c0c0c;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: iran-sans-med;
  font-size: .8rem;
}
.container{
  width: 80vw;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.d_flex{
  display: flex;
  align-items: center;
}
.space_between{
  justify-content: space-between;
}



/* @media only screen and (max-width: 930px) {



} */